*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    text-decoration: none;
}
#heroContainer a{
    color: #fff;
    position: absolute;
    top:0.5rem;
    font-family: Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 900;

}

#heroVideo,#heroContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    background-image: none;
    background-color: #49739e;
    z-index: -2;
}
#heroContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 85vh;
    
}
video {
    left:50vw;
    transform: translate(-35%,-28%);
  }
#heroContainer h1{
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 900;
    font-size: 4rem;
    line-height: 4.5rem;
    letter-spacing: 1px;
    padding: 1.2rem 2.5rem;
    color: white;
    margin: 5rem 0 2rem;
}
#heroContainer h2{
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.2rem;
    letter-spacing: 1px;
    padding: 1.2rem 2.5rem;
    color: white;
}

#knowUs{
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    margin-top: 2rem;
    background-image: url(/images/knowusbglow.jpg);
    background-size: cover;
    
}
#knowUsContainer h2, #testimonialContainer h2{
    text-align: center;
    color:black;
    font-weight: 700;
    font-size: 3rem;
    margin: 2rem;
    font-family: Helvetica, sans-serif;
}
.howTo{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 3rem 0;
    height: 35vh;
}
.howTo p{
    width: 60%;
    align-self: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
    text-align: start;
    border-radius: 1rem;
    padding: 2rem 1rem;
}
.howTo img{
    border-radius: 1rem;
    width: 40%;
}
.reverse{
    flex-direction: row-reverse;
}

.testi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    /*box-shadow: rgba(20,200,20,0.5) 0.1rem 0.1rem 0.3rem 0.3rem ;*/
    margin: 2rem 1rem;
    height: fit-content;
    padding:0 5% ;
    flex-direction: column;
    padding-bottom: 2rem;
    font-family:Helvetica, sans-serif;
    box-shadow: rgba(200,200,200,0.7) 0.6rem 0.5rem
}
/*
.testi:nth-child(3){
    box-shadow: rgba(55, 191, 224, 0.5) 0.1rem 0.1rem 0.2rem 0.2rem ;
}
.testi:nth-child(2){
    box-shadow: rgba(213, 48, 228, 0.5) 0.1rem 0.1rem 0.2rem 0.2rem ;
}*/
.person{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.5rem;
    margin: 1rem 0;
    width: 100%;
    flex-direction: column;
}
.person h4{
    text-decoration:underline overline double green;
    margin-top: 0.5rem;
}
.person img{
    border-radius: 50%;
    box-shadow: rgba(200,200,200,0.7) 0 0 0.6rem 0.6rem;
    width: 40%;
}
.testi p{
    width: 100%;
    font-size: 2rem;
    border-radius: 1rem 1rem 1rem 0;
   
    text-align: center;
    font-weight: 600;
}

footer{
    background-color: rgba(43, 33, 33, 0.644);
    font-family: Helvetica, sans-serif;
    color: #fff;
    width: auto;
    text-align: center;
    padding: 2rem;
    line-height: 4rem;
}
#descriptor{
    background-image:linear-gradient(180deg,rgba(49,110,48,0.8),rgba(122,166,59,0.8));
    color: #fff;
    text-align: center;
    font-family: Helvetica, sans-serif;
    padding: 4rem 1rem;


}
#descriptor h2{
    font-size: 2.8rem;
    padding-bottom:2rem ;
    
}
#descriptor p{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: justify;
    text-justify: distribute;
    
}
#descriptor span{
    color: rgba(240,156,53,0.8);
}
